<%- include('layout_header.ejs') %>
<!-- layout included -->

  <h1><%- message %></h1>
  <h2><%- error.status %></h2>
  <pre><%- error.stack %></pre>

<!-- layout included -->
<%- include('layout_footer.ejs') %>
