<%- include('layout_header.ejs') %>
<!-- layout included -->

<div class="komunikat">
  <h1>Mastermind</h1>
  Zasady gry:<br /><br />
  1. <b>codeSize</b><br />
  <i>Jest to ilosc pol do odgadniecia.</i><br /><br />
  2. <b>maxColors</b><br />
  <i>Ustala zakres liczb do odgadniecia od 0 do maxColors.</i><br /><br />
  3. <b>maxMoves</b><br />
  <i>Określa ilośc możliwych pomyłek popełnionych przez gracza.</i><br /><br />
  Program na podstawie wprowadzonych danych generuje tablice "sekret", ktorą gracz ma za zadanie odgadnąc.
</div>
<input type="text" class="play_info" id="codeSize" placeholder="codeSize" />
<input type="text" class="play_info" id="maxColors" placeholder="maxColors" />
<input type="text" class="play_info" id="maxMoves" placeholder="maxMoves" />
<input type="submit" id="play" />

<div id="wholeArea">
  <div id="emptySpace"></div>
  <input type="submit" id="guess" style="display: none" value="Zgaduj" /><br /><br />
  <div id="zgadula"></div><br /><br /><br />

  <input type="submit" id="replay" style="display: none" value="Rozpocznij nowa gre" />
</div>

<script src="/javascripts/mastermind.js"></script>

<!-- layout included -->
<%- include('layout_footer.ejs') %>
