<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
  <script src='/js/jquery.min.js'></script>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
    <div class="logo"></div>
    <ul class="header_menu">
      <a href="/"><li>Home</li></a>
      <a href="/mastermind"><li>Mastermind</li></a>
      <a href="/movies"><li>Aplikacja filmowa</li></a>
      <a href="/users"><li>Uzytkownicy</li></a>
      <a href="/about"><li>O projekcie</li></a>
      <a href="#"><li id="logowanie" class="special_button">Zaloguj sie</li></a>
      <a href="#"><li id="rejestracja" class="special_button">Zaloz konto</li></a>
    </ul>
  </div>

  <div class="left_side">
    <div class="rules">
      <h1>Mastermind</h1>
      Zasady gry:<br /><br />
      1. <b>codeSize</b><br />
      <i>Jest to ilosc pol do odgadniecia.</i><br /><br />
      2. <b>maxColors</b><br />
      <i>Ustala zakres liczb do odgadniecia od 0 do maxColors.</i><br /><br />
      3. <b>maxMoves</b><br />
      <i>Określa ilośc możliwych pomyłek popełnionych przez gracza.</i><br /><br />
      Program na podstawie wprowadzonych danych generuje tablice "sekret", ktorą gracz ma za zadanie odgadnąc.
    </div>
  </div>
  <div class="right_side">
