body {
  background: #1f1f1f url("../images/bg.jpg") no-repeat;
  background-attachment: fixed;
  font: 14px Tahoma;
  color: #eaeaea;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

.header {
  background: #0f0f0f;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-bottom: 50px;
}

.logo {
  background: url("../images/logo.png") no-repeat;
  width: 360px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 30px;
  float: left;
}

ul.header_menu {
  position: absolute;
  top: 7px;
  right: 0;
}

ul.header_menu li {
  color: #dedede;
  background-color: #2f2f2f;
  border-radius: 4px;
  padding: 5px 15px;
  border: 1px solid #1f1f1f;
  margin-right: 15px;
  display: inline;
}

.left_side {
  min-width: 360px;
  max-width: 360px;
  position: fixed;
  top: 60px;
  padding: 20px;
}

.right_side {
  text-align: center;
  left: 360px;
  top: 60px;
  right: 0;
  margin-bottom: 0;
  padding: 30px;
  position: absolute;
  background: #1f1f1f;
  border-left: 1px solid #3f3f3f;
  min-height: 85%;
}

ul#menu {
  position: relative;
  max-width: 320px;
  padding: 0;
}

ul li {
  list-style: none;
}

ul#menu li {
  padding: 10px 20px;
  background: #1f1f1f;
  margin-top: 10px;
}

.stopka {
  position: fixed;
  left: 360px;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  height: 20px;
  color: #929292;
  text-align: middle;
  background-color: #0f0f0f;
  text-align: right;
}

.stopka span {
  border-bottom: 1px dotted orange;
}

.magic {
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.register_form, .login_form {
  visibility: hidden;
  display: inline-block;
  padding: 20px;
  background-color: #0d0d0d;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
}

.login_form {
  margin-top: -108px !important;
  margin-left: -225.5px !important;
}

.register_form {
  margin-top: -131.5px !important;
  margin-left: -225.5px !important;
}

.register_form ul, .login_form ul {
  padding: 0;
}

.register_form ul li, .login_form ul li {
  list-style: none;
  margin-top: 10px;
}

input[type='text'], input[type='password'] {
  padding: 10px 20px;
  border-radius: 4px;
  background: #2f2f2f;
  border: 1px solid #1f1f1f;
  color: #eaeaea !important;
}

.register_form input[type='submit'], .login_form input[type='submit'] {
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
  background: #D0712E;
  border: 1px solid #1f1f1f;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.register_form ul li span, .login_form ul li span {
  display: inline-block;
  min-width: 200px;
}

.beksa {
  opacity: 1;
  visibility: visible;
}

.special_button {

  border-radius: 5px !important;
  border: 2px solid #2f2f2f !important;
  background-color: #904E20 !important;
}

.special_button:hover {
  box-shadow: none !important;
  border-radius: 5px !important;
  background-color: orange !important;
  color: #1f1f1f !important;
}

.rules {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  display: inline-block;
  padding: 20px;
  width: 265px;
  max-width: 265px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.rules h1 {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  text-align: center;
  font-weight: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin: -20px -20px 20px -20px;
  padding: 5px 15px;
}

.centrowicz {
  max-width: 850px;
  margin: 0 auto;
}

.komunikat {
  padding: 20px 25px;
  background: #0f0f0f;
  color: #a2a2a2;
  border-radius: 4px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;

}

.komunikat ul {
  padding: 0;
  display: inline-block;
}

.komunikat ul li {
  margin-right: 15px;
  padding: 8px 15px;
  display: inline;
}

#regulamin {
  padding: 20px 25px;
  background: #0f0f0f;
  color: #a2a2a2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.guess_input {
  width: 40px;
  margin-right: 10px;
}

.blokada {
  border: 1px dashed #5f5f5f !important;
  margin-top: 10px;
}

.wygrana {
  border: 1px dashed green !important;
  margin-top: 10px;
}

input[type='submit'] {
  background: #2f2f2f;
  border-radius: 4px;
  border: 1px solid #1f1f1f;
  font-weight: bold;
  padding: 10px 20px;
  color: #eaeaea;
}

.uwaga {
  border-color: red !important;
}

.error {
  background-color: #fc3c3c;
  border-radius: 4px;
  color: #eaeaea;
  font-size: 13px;
  
  border: 1px solid #ff6666;
  display: inline-block;
  padding: 10px; 20px;
}
